.form-container{
    display: inline-block;
    width: 60%;
    padding: 10px;
    margin-left: 20%;
}
.submit{
    margin-left: 40%;
    width: 20%;
    display: block;
}
.form{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
}
.form-element{
    max-height: 25px;
    margin: 10px;
    width: 200px;
    display: inline-block;
}
.hidden{
    display: none;
}