.modal{
    position: fixed;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color:#fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.modal-links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.label{
    display: inline-block;
    width: 100%;
}
.input{
    display: inline-block;
    width: 100%;
    
    border: 1px solid black;
}
.login-form{
margin: auto;
width: 200px;
}