$button: #939597;
$button-hover:#A09998;
$base:#EDF1FF;
$secondary1:#DFCFBE;
$secondary2:#B3A13D;

    .button{
        border: none;
        margin-right: 10px;
        margin-left: 10px;
        background: none;
        background-color: $button;
        border-radius: 4px;
        width: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
        display: inline-block;
        text-align: center;  
        color: black; 
        margin-bottom: 10px;
        margin-top: 10px;
        &:hover{
            background-color: $button-hover;
        }      
    }
    .background{
        background-color: $base;
        height: 100%;
    }
    .header{
        z-index: 20;
        position:sticky;
        top:0px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $secondary1;
    }
    .footer{
        z-index: 20;
        display: inline-block;
        position:fixed;
        width: 100%;
        height: 40px;
        bottom: 0px;
        background-color: $secondary1;
    }
    .container{
        max-width: 300px;
        margin: auto;
    }


